html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
    background: #041022;
    color: #eee;
}

/*
###########################
         SECTION
###########################
*/
.section {
    position: relative !important;
    padding-top: 70px;
    padding-bottom: 70px;
}


.section > .title-content {
    padding: 15px;
    display: flexbox;
    position: relative;
    display: flex;
}

.section > .title-content > .title {
    margin: auto;

    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #00a2ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,#00a2ff,#00bdad);
}
/*
###########################
###########################
*/

/*
###########################
       DASHBOARD
###########################
*/
#dashboard {
    padding: 0 !important;  
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:    0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow:         0px 0px 15px 0px rgba(0,0,0,0.75);
}

i {
    border: solid #fff;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    border-image: linear-gradient(to right,#00a2ff,#00bdad) 1 1;
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down-arrow {
    width: 100%;
    display: flex;
    align-self: flex-end;
    font-size: 30px;
    z-index: 1200;
}

.down-arrow a {
    margin: auto;
    margin-top: -80px;
}

.myself {
    margin: auto;
    height: 100%;
    display: grid;
    align-content: center;
    z-index: 1100;
}

.myself img {
    width: 30%;
    width: 30%;

    margin: auto;
    margin-bottom: 40px;

    border-radius: 300px 300px;
    border: 2px solid #000000;

    -webkit-box-shadow: 0px 0px 370px -1px rgba(0, 161, 255, 0.5);
    -moz-box-shadow:    0px 0px 370px -1px rgba(0, 161, 255, 0.5);
    box-shadow:         0px 0px 370px -1px rgba(0, 161, 255, 0.5);
}

.myname {
    align-content: flex-start;
    padding: 2px;
    margin: auto;
    margin-bottom: 10px;

    text-align: center;
    font-size: 2.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    background: rgba(0,0,0,.4);
    border-radius: 2px;
}
/*
###########################
###########################
*/


/*
###########################
       WHO I AM
###########################
*/

#whoiam {
    background: #041022;
}


#whoiam > .text {
    text-align: center;
    margin: auto;
    width: 40%;

    color: #eee;
    text-align: justify;
    word-wrap: normal;
    font-family: Helvetica, 'Roboto', sans-serif;
    font-size: 1.1vw;
}
/*
###########################
###########################
*/



/*
###########################
       EDUCATION
###########################
*/
.formations  {
    width: 60%;
    display: flex;
    flex: 0 1 calc(50% - 10px - 2px);
    margin: auto;
    flex-direction: row;
}

.formations > .formation-item {
    flex-direction: column;
    align-content: center;
    text-align: center;

    width: 100%;

    background: rgb(7, 25, 53);
    margin: 5px;
    border-radius: 6px;
    overflow: hidden;
    color: #eee;

    -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 10, 20, 0.7);
    -moz-box-shadow:    0px 0px 16px -1px rgba(0, 10, 20, 0.7);
    box-shadow:         0px 0px 16px -1px rgba(0, 10, 20, 0.7);
}

.formations > .formation-item > .duration {
    display: flex;
    align-self: flex-end;
}

.formations > .formation-item > .info {
    margin: auto;
    padding: 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.formations > .formation-item > .image-content {
    background: #0c2349;
}

.formations > .formation-item > .image-content > img {
    height: 100px;
    width: 100px;
    margin: auto;
}
/*
###########################
###########################
*/

/*
###########################
         SKILLS
###########################
*/
.skills-content {
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.skills-content > .skill {
    margin: 10px;
    /* display: flex;
    flex-direction: row; */
}

.skills-content > .skill > .title {
    /* display: block;
    width: 200px; */

    font-size: 17px;
}

.skills-content > .skill > .loadingbar {
    display: flex;
    width: 100%;
    height: 10px;
    border-radius: 15px;
    background: rgba(0,0,0,0.5);
}

.skills-content > .skill > .loadingbar > .value {
    padding: 2px;
    background: linear-gradient(to right,#00a2ff,#00bdad);
    color: #fff;
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 161, 255, 0.5);
    -moz-box-shadow:    0px 0px 20px -1px rgba(0, 161, 255, 0.5);
    box-shadow:         0px 0px 20px -1px rgba(0, 161, 255, 0.5);
}
/*
###########################
###########################
*/


/*
###########################
         FOOTER
###########################
*/
#footer {
    background: #030b18;
    padding: 5px;

    display: flex;
    flex-direction: row;
}

#footer > .social-medias {
    margin: auto;
    display: inline-flex;
    flex-direction: row;
}

#footer > .social-medias > a {
    margin: 2px;
    display: flex;
    flex-direction: row;
    height: 2vw;
    width: 2vw;
    background-image: linear-gradient(to right,#00a2ff,#00bdad);
    border-radius: 50px 50px;

    transition: .2s all;
}

#footer > .social-medias > a:hover {
    background: #0084d1;
    background-image: linear-gradient(to right,#00bdad, #00a2ff);
}

#footer > .social-medias > a > img {
    display: flex;
    height: 60%;
    width: 60%;
    margin: auto;
}

#footer > .credits {
    align-self: center;
    margin: auto;
    font-size: 1vw;
    color: #fff;
}
/*
###########################
###########################
*/


/*
###########################
       RESPONSIVE
###########################
*/
@media screen and (max-width: 1000px) {
    .section > .title-content > .title {
        font-size: 5vw;
    }

    #dashboard {
        height: 100%;
    }
    .myself img {
        width: 50%;
        width: 50%;
    }

    .myname {
        font-size: 5vw;
    }

    #whoiam > .text {
        width: 80%;
        font-size: 4vw;
    }
    .formations  {
        width: 90%;
        flex-wrap: wrap;
    }

    .formations > .formation-item {
        margin: 20px;
        border-radius: 10px;
    }

    .formations > .formation-item > .info {
        font-size: 3.2vw;
    }

    .formations > .formation-item > .image-content > img {
        height: 180px;
        width: 180px;
        margin: auto;
    }

    .skills-content {
        width: 90%;
    }

    .skills-content > .skill > .title {
        font-size: 3vw;
        margin-bottom: 2px;
    }
    
    .skills-content > .skill > .loadingbar {
        display: flex;
        width: 100%;
        height: 15px;
        border-radius: 100px;
        background: rgba(0,0,0,0.5);
    }
    
    .skills-content > .skill > .loadingbar > .value {
        padding: 2px;
        background: linear-gradient(to right,#00a2ff,#00bdad);
        color: #fff;
        border-radius: 15px;
    }

    #footer > .social-medias > a {
        margin: 10px;
        height: 9vw;
        width: 9vw;
        border-radius: 250px 250px;
    
        transition: .1s ease-in-out;
    }

    #footer > .credits {
        font-size: 3.5vw;
    }
}
/*
###########################
###########################
*/